In [2]:
pip install scipy
pip install mat73

Requirement already satisfied: scipy in c:\users\procns\anaconda3\lib\site-packages (1.9.1)
Requirement already satisfied: numpy<1.25.0,>=1.18.5 in c:\users\procns\anaconda3\lib\site-packages (from scipy) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [19]:
from scipy import io
import mat73
import numpy as np
import pandas as pd

In [32]:
mat_file = mat73.loadmat("Fall examples/Signal files/F_04835861-01-2013-10-16-13-19-35.mat")

In [33]:
mat_file
print(mat_file['tmp'])

[[ 1.84023500e+05  7.35523548e+05  2.02428571e+00 ...  0.00000000e+00
  -0.00000000e+00  0.00000000e+00]
 [ 1.84023550e+05  7.35523548e+05  2.02428571e+00 ...  0.00000000e+00
  -0.00000000e+00  0.00000000e+00]
 [ 1.84023600e+05  7.35523548e+05  2.02428571e+00 ...  0.00000000e+00
  -0.00000000e+00  0.00000000e+00]
 ...
 [ 1.85223400e+05  7.35523562e+05  8.72000000e+00 ...  0.00000000e+00
  -0.00000000e+00  0.00000000e+00]
 [ 1.85223450e+05  7.35523562e+05  8.72000000e+00 ...  0.00000000e+00
  -0.00000000e+00  0.00000000e+00]
 [ 1.85223500e+05  7.35523562e+05  8.72000000e+00 ...  0.00000000e+00
  -0.00000000e+00  0.00000000e+00]]

In [45]:
Data = list()
Data = mat_file['tmp']
Data

array([[ 1.84023500e+05,  7.35523548e+05,  2.02428571e+00, ...,
         0.00000000e+00, -0.00000000e+00,  0.00000000e+00],
       [ 1.84023550e+05,  7.35523548e+05,  2.02428571e+00, ...,
         0.00000000e+00, -0.00000000e+00,  0.00000000e+00],
       [ 1.84023600e+05,  7.35523548e+05,  2.02428571e+00, ...,
         0.00000000e+00, -0.00000000e+00,  0.00000000e+00],
       ...,
       [ 1.85223400e+05,  7.35523562e+05,  8.72000000e+00, ...,
         0.00000000e+00, -0.00000000e+00,  0.00000000e+00],
       [ 1.85223450e+05,  7.35523562e+05,  8.72000000e+00, ...,
         0.00000000e+00, -0.00000000e+00,  0.00000000e+00],
       [ 1.85223500e+05,  7.35523562e+05,  8.72000000e+00, ...,
         0.00000000e+00, -0.00000000e+00,  0.00000000e+00]])

In [46]:
df = pd.DataFrame(Data)

In [47]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,184023.50,735523.548322,2.024286,-8.408571,-2.958571,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
1,184023.55,735523.548322,2.024286,-8.408571,-2.958571,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
2,184023.60,735523.548323,2.024286,-8.408571,-2.958571,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
3,184023.65,735523.548323,2.024286,-8.408571,-2.958571,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
4,184023.70,735523.548324,2.024286,-8.408571,-2.958571,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
23996,185223.30,735523.562208,8.720000,-1.868571,0.311429,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
23997,185223.35,735523.562209,8.720000,-1.868571,0.311429,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
23998,185223.40,735523.562209,8.720000,-1.868571,0.311429,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
23999,185223.45,735523.562210,8.720000,-1.868571,0.311429,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
24000,185223.50,735523.562211,8.720000,-1.868571,0.311429,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0